*{
    margin: 0
}
html{
    overflow-x: hidden;
}
h1, h2, p{
    color: var(--dark);
}
h1{
    font-family: var(--h1-font);
    font-size: 7vw;
}
h2{
    font-family: var(--h2-font);
    font-size: 4vw;
}
p{
    font-family: var(--p-font);
    font-size: 2vw;
}

img{
    height: auto;
    width: 40vw;
    grid-area: img;
}

h1, h2{
    grid-area: h2;
    justify-self: center;
    align-self: center;
}

section.HERO{
    display: flex;
    flex-direction: column;
   img{
    align-self: center;
   }
   h1{
    font-size: 10vw;
   }
   > .hey{
    align-self: flex-start;
   }
   > .hoy{
    align-self: flex-end;
   }
}



section.attribute{
    display: grid;
    grid-template: 10vh 700px / 50vw 50vw;
    gap: 1vw;
    grid-template-areas: "h1 h1"
                         "img h2";
}

.good, header{
    background-color: var(--yellow);
}
.border{
        width: 100%;
        aspect-ratio: 18/7;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(./assets/PEAK.svg);
    }
.service{
    background-color: var(--bright-blue);
}
:root{
    --yellow: #FFD460;
    --orange: #F07B3F;
    --red: #EA5455;
    --dark: #2D4059;
    --bright-blue: #0096FF;
    --h1-font: "Bebas Neue";
    --h2-font:"Space Mono";
    --p-font: "Space Grotesk";
}
